@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.PageTitle</h2>
<div>@Html.ActionLink("Employee Managerment","Index","employee")</div>
<div>@Html.ActionLink("Experience Managerment", "Index", "experience")</div>
